// ToastContainer Styles


.toastContainer {
  position: fixed;
  top: 1.25rem;
  right: 1.25rem;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: .625rem;
  pointer-events: none;
}

@media (max-width: 48rem) {
  .toastContainer {
    top: .625rem;
    right: .625rem;
    left: .625rem;
  }
}
